.places {
  padding: 5.75rem 9.25rem 0;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .places {
    padding: 5.75rem 3rem 0;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .places {
    padding: 5.5rem 1.5rem 0;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 4rem 0 0;
  }
}
