.intro__list {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .intro__list {
    max-width: 18rem;
  }
}
