.header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.75rem;
  padding-bottom: 3.5rem;
  min-height: 3.25rem;
  height: 100%;
}

@media screen and (max-width: 1279px) {
  .header {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 18rem;
    padding-top: 1rem;
  }
}
