.header {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 3rem 3.5rem;
}

@media screen and (max-width: 1279px) {
  .header {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-width: 18rem;
    padding-top: 1rem;
  }
}
