.intro {
  max-width: 43.125rem;
  width: 100%;
  padding: 5.75rem 0 5.75rem 9.25rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .intro {
    padding-left: 9.25rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .intro {
    padding-left: 3rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .intro {
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 4rem 1rem;
    max-width: 18rem;
  }
}

/*@media screen and (max-width: 1023px) {
  .intro {
    padding: 5.5rem 1.5rem;
    max-width: 45rem;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 4rem 1rem;
    max-width: 18rem;
  }
}*/
