.cover {
  padding-top: 5.75rem;
  max-width: 80rem;
}

@media screen and (max-width: 1279px) {
  .cover {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding-top: 5.5rem;
  }
}

@media screen and (max-width: 767px) {

}

