.lead__caption {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 1rem;
  }
}
