.place {
  display: grid;
  grid-template-columns: 28.75rem 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 3rem;
  row-gap: 2.5rem;
  padding-bottom: 5rem;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 27.5rem 1fr;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 21.25rem 1fr;
    column-gap: 1.75rem;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 20rem;
    row-gap: 2rem;
  }
}


